// normalize here plz

@import "_normalize.scss";
@import "_variables.scss";
html {
  width:100%;
  height:100%;
  background: $background;
   // background:-webkit-radial-gradient(closest-corner,rgba(16,47,70,0) 60%,rgba(16,47,70,0.26)),-webkit-linear-gradient(108deg,#26d0ce,#1a2980 90%);
}
body {
	color: $text;
	font-size: $font-size-main;
	// font-family: monospace;
	font-family: 'Raleway', sans-serif;
  width:100%;
  height:100%;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAADCAYAAABWKLW/AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAB9JREFUeNpiZmBg6AZiDiBWZ4YyQMCOCcYA4kMAAQYAHyYCCUdxidgAAAAASUVORK5CYII=');
}

main {
	background: transparent;
}

header {
	background:  rgba(0,0,0,.3);
	display: flex;

	h1 {
		padding:  .5em;
		margin:  0;
		font-size: 24px;
		font-weight: 300;
		text-align: left;
		width: max-content;
		display: inline-block;
	}

	fieldset {
		border: 0;
		display: inline-block;
		width: max-content;
	}

	input,
	button {
		outline: 0;
	}

	input {
		padding: .25em;
	}

	button {
		-webkit-appearance:  none;
		appearance:  none;
		border: 0;
		color: $text;
		background:  transparent;
		width: max-content;
		font-size: 20px;
		border: 2px solid $text;
		cursor: pointer;

		&:hover,
		&:focus {
			background:  #efefef;
			color: #111111;

		}
	}
}

hr {
	opacity: .5;
}

hr.note {
	border-top: 1px solid #8c8b8b;
	text-align: center;
}

hr.note:after {
	content: '♬';
	display: inline-block;
	position: relative;
	top: -14px;
	padding: 3px 6px;
	color: white;
	background: darkblue;
	border-radius: 50%;
	font-size: 18px;
	-webkit-transform: rotate(10deg);
	-moz-transform: rotate(10deg);
	transform: rotate(10deg);
}

.in {
	width:  12em;
	text-align: center;
	margin: 0 auto;
	display:  inline-block;
	padding: 1em;
}

.out {
	text-align: center;
	padding:  2em;
}

